$backgroundColor: #fafafa;

//colors

$headerColor: #28283d;
$paragraphGray: #87879d;
$downloadButtonColor: #4d96a9;
$downloadButtonHover: #71c0d4;
$downloadSpan: #8fe3f9;
$downloadSpanHover: #8fe3f9;
$aboutButtonColor: #855fb1;
$aboutButtonHover: #b18bdd;
$aboutSpan: #d9b8ff;
$lineGray: #d8d8d8;
