* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
}

header {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  position: relative;
}

header .meet {
  margin: 48px auto 54px auto;
}

header .icons {
  display: none;
}

header .hero-mobile {
  width: 110%;
  margin-bottom: 54px;
}

header h1 {
  line-height: 44px;
  font-size: 40px;
  color: #28283d;
  margin-bottom: 24px;
  padding: 0 24px;
}

header p {
  padding: 0 24px;
  line-height: 26px;
  color: #87879d;
  font-size: 16px;
  margin-bottom: 32px;
}

.btn1 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  border: none;
  background-color: #4d96a9;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  width: 193px;
  height: 58px;
  margin-bottom: 16px;
}

.btn1 span {
  color: #8fe3f9;
}

.btn2 {
  font-family: 'Red Hat Display', sans-serif;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  border: none;
  width: 139px;
  height: 58px;
  background-color: #855fb1;
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 64px;
}

.line {
  margin: 0 auto;
  height: 84px;
  width: 1px;
  background-color: #d8d8d8;
  border-color: #87879d;
}

.n1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #87879d;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  width: 56px;
  height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.n1 span {
  font-size: 16px;
  line-height: 26px;
  color: #87879d;
  font-weight: 900;
}

@media (min-width: 600px) {
  .hero-mobile {
    width: 107%;
  }
}

@media (min-width: 800px) {
  .hero-mobile {
    display: none;
  }
  .icons {
    display: block;
  }
}

main {
  margin-top: 64px;
}

.kontenjer {
  display: flex wrap;
  margin-bottom: 40px;
  width: 100%;
}

.kontenjer img {
  width: 40%;
  border-radius: 8px;
  margin-bottom: 24px;
}

.kontenjer img:nth-child(odd) {
  margin-right: 12px;
}

.kontenjer img:nth-child(even) {
  margin-left: 12px;
}

.text {
  margin-bottom: 176px;
}

h2 {
  line-height: 36px;
  font-size: 32px;
  color: #28283d;
  margin-bottom: 32px;
}

h3 {
  color: #4d96a9;
  line-height: 26px;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 24px;
  letter-spacing: 4px;
}

p {
  padding: 0px 24px;
}

footer {
  position: relative;
  text-align: center;
  z-index: 1;
  width: 100vw;
  background-image: url("../images/mobile/image-footer.jpg");
  background-size: cover;
}

footer .opacity {
  z-index: -1;
  background: rgba(77, 150, 168, 0.9);
  height: 100%;
  position: absolute;
  width: 100%;
}

footer .no2 {
  -webkit-transform: translateY(-112px);
          transform: translateY(-112px);
  display: inline-block;
}

footer .no2 .n1 {
  background-color: #ffffff;
}

footer h2 {
  margin-top: -44px;
  color: white;
  margin-bottom: 24px;
}

footer p {
  color: white;
  margin-bottom: 32px;
  line-height: 26px;
  font-size: 18px;
  padding: 0 24px;
}

footer .btn1 {
  background-color: #855fb1;
  color: #ffffff;
  margin-bottom: 72px;
}

footer .btn1 span {
  color: #d9b8ff;
}
/*# sourceMappingURL=styles.css.map */