@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: $backgroundColor;
    font-family: 'Red Hat Display', sans-serif;
}

//Header

header {
    overflow-x: hidden;
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    .meet {
        margin: 48px auto 54px auto;
    }
    .hero-desktop {
        display: none;
    }

    .hero-mobile {
        width: 110%;
        margin-bottom: 48px;
    }

    h1 {
        line-height: 44px;
        font-size: 40px;
        color: #28283d;
        margin-bottom: 24px;
        padding: 0 24px;
    }

    p {
        padding: 0 24px;
        line-height: 26px;
        color: #87879d;
        font-size: 16px;
        margin-bottom: 32px;
    }
}

.btn1,
.btn2 {
    margin: 0 auto;
    display: block;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    border: none;
    background-color: #4d96a9;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    width: 193px;
    height: 58px;
    margin-bottom: 16px;
    cursor: pointer;
    span {
        color: #8fe3f9;
    }
}
.btn2 {
    width: 139px;
    background-color: #855fb1;
    margin-bottom: 64px;
}

.btn1:hover {
    background-color: #71c0d4;
    span {
        color: #8fe3f9;
    }
}

.btn2:hover {
    background-color: #b18bdd;
}

.line {
    margin: 0 auto;
    height: 84px;
    width: 1px;
    background-color: #d8d8d8;
    border-color: #87879d;
}

.n1 {
    display: flex;
    color: #87879d;
    border-radius: 50%;
    border: 1px solid #d8d8d8;
    width: 56px;
    height: 56px;
    align-items: center;
    justify-content: center;
    span {
        font-size: 16px;
        line-height: 26px;
        color: #87879d;
        font-weight: 900;
    }
}

//Main

main {
    margin-top: 64px;
}

.kontenjer {
    display: flex wrap;
    margin-bottom: 44px;
    width: 100%;
    img {
        width: 40%;
        border-radius: 8px;
        margin-bottom: 24px;
        &:nth-child(odd) {
            margin-right: 12px;
        }

        &:nth-child(even) {
            margin-left: 12px;
        }
    }
}

.text {
    margin-bottom: 176px;
}

h2 {
    line-height: 36px;
    font-size: 32px;
    color: #28283d;
    margin-bottom: 32px;
    padding: 0 50px;
}

h3 {
    padding: 0 24px;
    color: #4d96a9;
    line-height: 26px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 24px;
    letter-spacing: 4px;
}

p {
    padding: 0px 24px;
    line-height: 26px;
    color: #87879d;
    font-size: 16px;
    margin-bottom: 32px;
}

//Footer

footer {
    position: relative;
    color: #ffffff;
    z-index: 1;
    background-image: url('../images/mobile/image-footer.jpg');
    background-size: cover;
    .opacity {
        z-index: -1;
        background: rgba(77, 150, 168, 0.9);
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    .no2 {
        transform: translateY(-112px);
        display: inline-block;
        .n1 {
            background-color: #ffffff;
        }
    }
    h2 {
        margin-top: -44px;
        margin-bottom: 24px;
        color: #ffffff;
        padding: 0 24px;
    }
    p {
        margin-bottom: 32px;
        line-height: 26px;
        font-size: 18px;
        padding: 0 24px;
        color: #ffffff;
    }
    .btn1 {
        background-color: #855fb1;
        margin-bottom: 50px;
        display: inline-block;
        span {
            color: #d9b8ff;
        }
    }
    .btn1:hover {
        background-color: #b18bdd;
        span {
            color: #d9b8ff;
        }
    }
}

@media (min-width: 600px) {
    //Header responsive 600px

    header {
        .hero-mobile {
            width: 107%;
            margin-bottom: 72px;
        }
        .buttons {
            display: flex;
            margin-bottom: 74px;
            .btn2 {
                margin-left: 16px;
                margin-bottom: 0px;
            }
        }
        p {
            width: 457px;
        }
    }

    //Main responsive 600px

    main {
        margin-top: 73px;
        margin-bottom: 48px;
        .kontenjer {
            padding: 0 40px;
            img {
                width: 22.5%;
                &:nth-child(n) {
                    margin-right: 11px;
                    margin-left: 0px;
                    margin-bottom: 0px;
                }
                &:nth-child(4) {
                    margin-right: 0px;
                }
            }
        }
        .text {
            width: 573px;
            margin: 0 auto;
            p {
                padding: 0;
            }
        }
    }
}

@media (min-width: 800px) {
    //Header responsive 800px

    header {
        .hero-mobile {
            display: none;
        }
        .hero-desktop {
            position: relative;
            width: 100%;
            display: block;
            background-size: cover;
            .image-left {
                width: 30%;
                left: -2.3%;
                position: absolute;
            }
            .image-right {
                margin-top: 55px;
                width: 30%;
                right: -2.3%;
                position: absolute;
            }
        }
        .header-text {
            margin-top: 47px;
            width: 44.4%;
            p {
                width: auto;
            }
        }
        .buttons {
            margin-bottom: 110px;
        }

        //Main responsive 800px
    }
    main {
        .text {
            width: 540px;
            p {
                font-size: 18px;
            }
        }
    }
}

@media (min-width: 1024px) {
    //Header responsive 1024px

    header {
        .header-text {
            p {
                padding: 0 84px;
                font-size: 18px;
            }
            h1 {
                font-size: 64px;
                line-height: 64px;
            }
        }
    }
    main {
        margin-top: 64px;
        margin-bottom: 80px;
        .kontenjer {
            padding: 0 165px;
            img {
                width: 21%;
                &:nth-child(n) {
                    margin-right: 30px;
                    margin-left: 0px;
                }
                &:nth-child(4) {
                    margin-right: 0px;
                }
            }
        }
    }
}
