* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #FAFAFA;
  font-family: 'Red Hat Display', sans-serif;
}

header {
  overflow-x: hidden;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .meet {
  margin: 48px auto 54px auto;
}

header .hero-desktop {
  display: none;
}

header .hero-mobile {
  width: 110%;
  margin-bottom: 48px;
}

header h1 {
  line-height: 44px;
  font-size: 40px;
  color: #28283d;
  margin-bottom: 24px;
  padding: 0 24px;
}

header p {
  padding: 0 24px;
  line-height: 26px;
  color: #87879d;
  font-size: 16px;
  margin-bottom: 32px;
}

.btn1,
.btn2 {
  margin: 0 auto;
  display: block;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  border: none;
  background-color: #4d96a9;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  width: 193px;
  height: 58px;
  margin-bottom: 16px;
  cursor: pointer;
}

.btn1 span,
.btn2 span {
  color: #8fe3f9;
}

.btn2 {
  width: 139px;
  background-color: #855fb1;
  margin-bottom: 64px;
}

.btn1:hover {
  background-color: #71c0d4;
}

.btn1:hover span {
  color: #8fe3f9;
}

.btn2:hover {
  background-color: #b18bdd;
}

.line {
  margin: 0 auto;
  height: 84px;
  width: 1px;
  background-color: #d8d8d8;
  border-color: #87879d;
}

.n1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #87879d;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  width: 56px;
  height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.n1 span {
  font-size: 16px;
  line-height: 26px;
  color: #87879d;
  font-weight: 900;
}

main {
  margin-top: 64px;
}

.kontenjer {
  display: flex wrap;
  margin-bottom: 40px;
  width: 100%;
}

.kontenjer img {
  width: 40%;
  border-radius: 8px;
  margin-bottom: 24px;
}

.kontenjer img:nth-child(odd) {
  margin-right: 12px;
}

.kontenjer img:nth-child(even) {
  margin-left: 12px;
}

.text {
  margin-bottom: 176px;
}

h2 {
  line-height: 36px;
  font-size: 32px;
  color: #28283d;
  margin-bottom: 32px;
  padding: 0 50px;
}

h3 {
  padding: 0 24px;
  color: #4d96a9;
  line-height: 26px;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 24px;
  letter-spacing: 4px;
}

p {
  padding: 0px 24px;
  line-height: 26px;
  color: #87879d;
  font-size: 16px;
  margin-bottom: 32px;
}

footer {
  position: relative;
  color: #ffffff;
  z-index: 1;
  background-image: url("../images/mobile/image-footer.jpg");
  background-size: cover;
}

footer .opacity {
  z-index: -1;
  background: rgba(77, 150, 168, 0.9);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

footer .no2 {
  -webkit-transform: translateY(-112px);
          transform: translateY(-112px);
  display: inline-block;
}

footer .no2 .n1 {
  background-color: #ffffff;
}

footer h2 {
  margin-top: -44px;
  margin-bottom: 24px;
  color: #ffffff;
  padding: 0 24px;
}

footer p {
  margin-bottom: 32px;
  line-height: 26px;
  font-size: 18px;
  padding: 0 24px;
  color: #ffffff;
}

footer .btn1 {
  background-color: #855fb1;
  margin-bottom: 50px;
  display: inline-block;
}

footer .btn1 span {
  color: #d9b8ff;
}

footer .btn1:hover {
  background-color: #b18bdd;
}

footer .btn1:hover span {
  color: #d9b8ff;
}

@media (min-width: 600px) {
  header .hero-mobile {
    width: 107%;
    margin-bottom: 72px;
  }
  header .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 74px;
  }
  header .buttons .btn2 {
    margin-left: 16px;
    margin-bottom: 0px;
  }
  header p {
    width: 457px;
  }
  main .text {
    width: 573px;
    margin: 0 auto;
  }
  main .text p {
    padding: 0;
  }
}

@media (min-width: 800px) {
  header .hero-mobile {
    display: none;
  }
  header .hero-desktop {
    position: relative;
    width: 100%;
    display: block;
    background-size: cover;
  }
  header .hero-desktop .image-left {
    width: 30%;
    left: -2.3%;
    position: absolute;
  }
  header .hero-desktop .image-right {
    margin-top: 55px;
    width: 30%;
    right: -2.3%;
    position: absolute;
  }
  header .header-text {
    margin-top: 47px;
    width: 44.4%;
  }
  header .header-text p {
    width: auto;
  }
  header .buttons {
    margin-bottom: 110px;
  }
  main .text {
    width: 540px;
  }
  main .text p {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  header .header-text p {
    padding: 0 84px;
    font-size: 18px;
  }
  header .header-text h1 {
    font-size: 64px;
    line-height: 64px;
  }
}
/*# sourceMappingURL=styles.css.map */